*{
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 30px 0px 0px;
}

.menu_show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: gainsboro;
    padding: 1.5rem;
}

.menu_hide{
    display: none;
}

.content_box{
    border: 1px solid;
    height: 100px;
}
