#boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    width: 10%;
    height: 100px;
    border: 1px solid;
    background-color: blue;
}


.box_active{
    width: 10%;
    height: 100px;
    border: 1px solid;
    background-color: red;
}
