#disco{
    height: 250px;
    width: 250px;
    display: block;
    position: absolute;

    > img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

#disco2{
    height: 250px;
    width: 250px;
    display: block;
    position: absolute;
    left: 280px;

    > img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}