*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    height: 80px;
    flex-wrap: wrap;

    > *{
        margin: 20px;
        color: rgb(255, 255, 255);
    }
}

nav{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#grass_entity{
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

#HP{
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

#grass_box{

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}