*{
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: red;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
    font-size: 30px;
    color: white;   
}

main{
    padding: 30px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#dice_container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

#dice_container img{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 120px;
    width: 120px;
}

#result{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#dice_result{
    font-size: 30px;
}

#dice_num{
    width: 8rem;
    font-size: 30px;
}

#spin_btn{
    border: none;
    border-radius: 25px;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    height: 1.5rem;
    width: 8rem;
    padding: 5px;
}

#spin_btn:active{
    background-color: rgb(221, 0, 0);
}