#title{
    text-align: center;
}

main{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#username, #password{
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
    height: 1.3rem;
    margin: 0px 1rem 0px 1rem;
}

#submit_btn{
    width: fit-content;
    margin-top: 1rem;
    padding: 10px 35px 10px 35px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#submit_btn:hover{
    background-color: rgb(211, 211, 211);
}