*{
    margin: 0px;
    box-sizing: border-box;
    scrollbar-width: none  ;
}

body{
    display: flex;
    min-height: 100vh;
}

header{
    width: 15%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    gap: 3rem;
}

#site_title{
    color: rgb(255, 0, 0);
    font-size: 30px;
}

.choices{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a{
        text-decoration: none;
        color: white;
        font-size: 22px;
    }

    a:hover{
        background-color: rgba(255, 255, 255, 0.425);
    }
     
    
}

main{
    width: 85%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.new_post{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#post_title{
    height: 30px;
    border: none;
    background-color: rgb(236, 236, 236);
    border-radius: 25px;
    width: 30%;
    padding: 1rem;
}

#post_content{
    height: 100px;
    border: none;
    background-color: rgb(236, 236, 236);
    border-radius: 25px;
    width: 50%;
    text-align: justify;
    padding: 1rem;
}

#post_btn{
    height: 30px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 25px;
    width: 80px;
    cursor: pointer;
}

#posts{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.post{
    width: 100%;
    margin: 10px;
    padding: 30px 40px 30px 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.308);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top{
    display: flex;
    justify-content: space-between;
}

.post_title{
    font-size: xx-large;
    color: red;
}

#delete_post{
    height: 2rem;
    border: none;
    cursor: pointer;
}

#delete_post:hover{
    background-color: rgb(255, 0, 0);
}

.post_content{
    color: white;
    text-align: justify;
    font-size: large;
}
