.box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

*{
    margin: 0px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.del{
    height: 50px;
    width: 50px;
    background-color: red;
    border: 3px solid red;
}

.clr{
    height: 50px;
    width: 50px;
    color: white;
    background-color: black;
    border: 1px solid yellow;
}

.box_active{
    height: 200px;
    width: 200px;
    border: 3px solid red;
}
